<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--"Data source=.\\SQLEXPRESS; Initial Catalog = login;Integrated Security =SSPI"-->
  <!--"Data Source=serverName;Initial Catalog=Northwind;Persist Security Info=True;UserID=userName;Password=password"-->
  <connectionStrings>
    <add name="BDLOGIN" connectionString="Data Source=SQL5006.Smarterasp.net;Initial Catalog=DB_9C17E8_login;User Id=DB_9C17E8_login_admin;Password=login2015;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>